
* {
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: rgb(255, 255, 255);
}
body{
  /* height: 1000vw; */
  width: 100vw;
  overflow-x: hidden;
}
nav {
  background-color: rgb(5, 98, 124);
 position: fixed;
  width: 100vw;
z-index: 1;
}
ul {
  list-style: none;
}
nav > div {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 60px;
}
nav > div > ul {
  display: flex;
  gap: 45px;
  cursor: pointer;
  padding: 15px;
}
nav > div > ul > li > ul {
  display: flex;
}
nav > div > a > img {
  position: relative;
  bottom: 55px;
  left: 0;
  width: 150px;
}
.hover>ul{

   background: rgb(255, 255, 255);
  top: 0;
  border-radius: 7px;
   height: 0;
  
}
.hover>ul>ul>li{
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  display: none;
  z-index: 1;
}
.drpul {
  display: flex;
  display: none;
  flex-direction: column;
  row-gap: 20px;
  box-sizing: border-box;
  display: flex;
  /* position: absolute; */
  background-color: #fff;
  border-radius: 5px;
}
.lng {
  display: flex;
  gap: 20px;
}
.nvpart{
    width: 50%;
}
.nvpart > li:hover {
  color: rgb(0, 255, 0);
  transition: all 0.1s ease;
}
.drpul a{
  color: black;
  text-decoration: none;
}
.nvpart > ul:hover{
    color: rgb(0, 255, 0);
  transition: all 0.1s ease; 
}
#log {
  text-decoration: none;
  color: rgb(0, 255, 0);
  font-weight: bold;
}
li{
    width: 100px;
}
#srtfrfre{
    height: 40px;
    width: 150px;
    border: none;
    background-color: green;
    border-radius: 5px;
}
#srtfrfre:hover{
background-color: rgb(9, 179, 9);
}


#menu{
  display:none;
}
  .hover:hover >ul{
  opacity: 1;
  position: absolute;
   display: flex;
   top: 40px;
   transition: top 0.4s ease;
height: 400px;
width: auto;
float: none;
padding: 20px;
border-top: 4px solid green;
}
.hover:hover .drpul{
  display: flex;
}
.drpul>li:hover{
color: rgb(0, 255, 0);
transition: color ease 0.3s;
}
.hover:hover >ul>ul>li{
  display: block;
  width: auto;
  margin: 5px;
}
#email{
  height: 30px;
  position: absolute;
  right: 200px;
  width: 250px;
  display: none;
}
